@import "src/assets/colors";

.wrapper {
  max-width: 1120px;
}

.btnHome {
  margin-bottom: 32px;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.title {
  margin-bottom: 72px;
}

.darkWrapper {
  color: $white;
}

.frameWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.formWrapper {
  width: 100%;
  max-width: 624px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 40px;
  border: 1px solid $medium;
}

.darkFormWrapper {
  border-color: $gray;
}
