@import "src/assets/colors";

.userNameWrapper {
    background-color: $primary;
    padding: 17px 32px;
    display: inline-flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    color: $white;
}

.initials {
    width: 48px;
    background-color: $primary-secondary;
    border-radius: 2px;
    text-align: center;
    margin-right: 16px;
}