@import "src/assets/mixins";

.userNameWrapper {
    background-color: $primary;
    padding: 0 32px;
    height: 84px;
    display: flex;
    align-items: center;
    @include s1($white);
}

.initials {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-secondary;
    border-radius: 2px;
    margin-right: 16px;
}