@import "src/assets/mixins";

.primaryBtn {
  @include button($white);
  background-color: $primary;

  &:hover {
    background-color: $primary-secondary;
  }
}

.secondaryBtn {
  @include button($secondary);
  background-color: $light;

  &:hover {
    background-color: $medium;
  }
}

.errorBtn {
  @include button($error);

  &:hover {
    border-color: $medium;
  }
}

.disabledBtn {
  background-color: $light;
  color: $gray;
  cursor: not-allowed;

  &:hover {
    background-color: $light;
    cursor: not-allowed;
  }
}
