@import "src/assets/colors";

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.signUpLink {
  color: $primary-secondary;
  font-weight: 500;
}